.navbar {
    
    background-color: white;
    height: 40px;
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
}

.navbar-list {
    width: 100%;
    background-color: thistle;
    text-align: right; 
    display: flex;
    gap: 20px;
}