.columnas {    
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 768px) {

    .columnas {
      flex-direction: row;
      gap: 1rem;
    }
  
    .columnas {
      flex: 1;
    }
  }
video {
  max-width: 100%;
}