.navbar {
    
    background-color: gray;
    height: 40;
    width: 100%;
    top: 0;
    left: 0%;
    position: fixed;
    display: flex;    
    align-items: center;
    padding: 0%;
    
}

/*Menu checkbox*/
.menu-label, #menu-checkbox{
       
    display: flex;
    top: 0px;           
    width: 100%;
    right: 0px;
    align-items: right;
    flex-direction: row;
    justify-content: right;
    margin-right: 30px; 

}

#menu-checkbox:checked~.navbar-list {
    display: flex;
}

.navbar-list {
    margin: 0;
    width: 100px;
    background-color: grey;
    color: black;
    list-style-type: none;
    padding: 0;  
    position: absolute;
    top: 40px;
    right: 0px;
    height: 100px;
    display: none;  
    flex-direction: column;
    align-items: center;   
    gap: .5rem;
  }

@media (min-width: 768px) {
    .navbar-list{
        width: 100%;    
        display: flex;
        top: 0px;
        gap: 20px;        
        height: 40px;
        align-items: center;
        flex-direction: row;
        justify-content: right;
        margin-right: 30px; 
             
    }
    .menu-label{
        display: none;
    }
}

.navbar a {
    text-decoration: none;
    color: black;
  }

.logo img{
    height: 40px;
    width: 35px;
    margin-left: 40px;
    
}
